RewriteEngine On
SetEnv APPLICATION_ENV pro

#php_value memory_limit 12800M
#php_value error_reporting 128

#RewriteRule ^(.*)$ /index.php [NC,L]
#RewriteRule !\.(js|gif|jpg|png|css|txt)$ /index.php [L]