
  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/


.fullwidthbanner-container{
       width:980px;
       position:relative;
       padding:0;
       overflow:hidden;
       margin-left: auto;
       margin-right: auto;
       margin-bottom:30px;
}


.revolution_header1 {
       color:#ec5d4c;
       font-size:48px;
       text-align:left;
       font-weight:bold;
       text-transform: uppercase;
       line-height: 40px;
}
.revolution_header1 strong {
       color:#4d94eb;
}

.revolution_text {
       color:#6a84a7;
       font-size:18px;
       text-align:left;
       line-height:25px;
}
