#nav { position: relative; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li { text-align:left;	}
#nav li.over { z-index:998;}
#nav li.over.parent {  }
#nav a,
#nav a:hover { display:block; text-decoration:none; }
#nav span { display:block; cursor:pointer; white-space:nowrap; }
#nav li ul span { white-space:normal; }
#nav a { float:left; }
.blocklist li,
#nav ul.chield > li { display:block; float:left; padding: 0 0px 0 0; }
#nav .chield { margin-left:-1px; width: 952px; 
	box-shadow: 0 0px 3px rgba(178, 201, 225, 0.83);
	-webkit-box-shadow: 0 0px 3px rgba(178, 201, 225, 0.83);
	-moz-box-shadow: 0 0px 3px rgba(178, 201, 225, 0.83);
}
/* 1st Level */
#nav ul li.parent { }
#nav ul li.last { padding-bottom:0; }
#nav ul li.active { }
#nav ul a,
#nav ul a:hover { float:none; background:none; }
#nav ul a:hover { text-decoration:underline; }
#nav > li > ul > li > a { }
.blocklist li.parent > a span,
#nav > li > ul > li.parent > a span { color:#fff; }
#nav > li > ul > li.parent > a, #nav > li div.custom_menu_item li.parent > a {
    padding-top:5px;padding-bottom:5px; font-weight:bold;margin-left:0px;padding-left:15px;background-color:#ec5d4c;
    text-decoration:none; 
}
#nav > li > ul > li.parent > a:hover, #nav > li div.custom_menu_item li.parent > a:hover {
    background-color:#4d94eb;
}

#nav .level1 > a > span {
    
}
#nav .level1 > a:hover span {
   
}
#nav .custom_menu_item .level1 > a > span {
   
}
/* 2nd Level */
#nav  ul,
#nav div { top: 32px; left:-10000px; padding:3px 0 15px; background:#fff; font-size:12px; }
.blocklist li,
#nav > li > ul >li { width: 148px; margin:0 10px 0 0; }
#nav div ul { position:static; width:auto; border:none; padding:0; }

#nav ul.level0 { position:absolute; z-index: 1500; padding: 20px 15px 15px;top:50px;}

/* ========================== */
#nav > li > ul > li ul { margin-left:0px; }
.blocklist > li > ul > li,
#nav > li > ul > li ul > li {   }
#nav > li > ul > li ul > li a, #nav .custom_menu_item li.level2 a {
    color: #000000;
    padding:10px;
    
    background: url("../images/header-li-bullet.png") no-repeat scroll left center transparent;
    font-size: 12px;
    padding-left: 15px;
}
#nav > li > ul > li ul > li a:hover, #nav .custom_menu_item li.level2 a:hover {
    background: url("../images/header-li-bullet.png") no-repeat scroll left center transparent;
    text-decoration:none;
    color:#ec5d4c;

}
.blocklist > li > ul > li {  }

/* ========================== */

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; padding: 10px 0px 5px; }


/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:0; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:100px; }


#nav ul li a:hover{
    background:#fff;
}
/********** Navigation > */
/* ======================================================================================= */